@media screen and (max-width: 1260px) {
  .illustration {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .main-nav {
    position: relative;
    background-color: #fc466b;
    padding: 20px 0;
    transform: scaleY(0) rotateX(-90deg);
    transition: transform .3s cubic-bezier(0,1.84,.88,.78);
    transform-origin: top;
  }

  .hero-section {
    height: 90vh;
    position: relative;
  }

  .hackrcdu {
    position: absolute;
    z-index: 2;
    font-size: 1.2rem;
    padding: 25px;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  .hackrcdu h1 {
    font-family: Poppins;
    margin-bottom: 10px;
    color: #fff;
  }

  .hackrcdu h3 {
    font-family: Poppins;
    padding-bottom: 5px;
    color: #fff;
  }

  .hackrcdu h5 {
    font-size: 18px;
    font-family: Poppins;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .illustration {
    position: relative;
    z-index: 0;
    display: none;
  }

  .hero-img {
    width: 300px;
    position: absolute;
    top: 35px;
    left: 5%;
    z-index: 0;
  }

  .apply,
  .turington {
    background-color: white;
    border-radius: 5%;
    text-align: center;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 5px;
    height: 35px;
    width: 48%;
    box-shadow: var(--shadow);
  }

  .apply img {
    width: 100px;
  }

  .about-section {
    height: 115vh;
    margin-top: 0;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }

  .themes-section {
    height: 225vh;
    margin-top: 0;
    margin-bottom: 50px;
  background: linear-gradient(to right bottom, rgb(63, 94, 251), rgb(252, 70, 107));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .themes-section h1 {
    margin-bottom: 40px;
  }

  .theme-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .theme-card {
    width: 80%;
    height: 220px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #eeeeee;
  }

  footer {
    height: 25vh;
    font-size: 0.9rem;
    background-color: #212529;
  }

  .footer-contact {
    display: flex;
    text-align: center;
    margin-bottom: 15px;
  }

  footer h4 {
    padding: 5px;
    margin-bottom: 10px;
  }

  footer h4 i {
    color: blue;
  }
}
h6{
  font-size: 18px;
  font-family: Poppins;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
